$width: 350px;
.test {
  height: 100vh;
  position: relative;
  &__sidebar {
    min-width: $width !important;
    max-width: $width !important;
    padding: 15px;
    &__header {
      margin-bottom: 30px;
      h5 {
        color: white;
        font-size: 18px;
        text-align: center;
      }
      .exam__time {
        h5 {
          font-size: 15px;
        }
        span {
          color: red;
          font-size: 18px;
        }
      }
    }
    .exam__question {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 15px;
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 50px;

      .question__item {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      .choosed {
        background-color: rgb(51, 116, 255);
        color: white;
        border: 1px solid blue;
      }
      .flag {
        background-color: rgb(255, 163, 163);
        color: white;
        border: 1px solid red;
      }
    }
    .exam__submit {
      display: flex;
      justify-content: center;

      button {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
  .test__content {
    padding: 15px;

    .question__list {
      overflow-y: scroll;
      height: calc(100%);
      // scroll-snap-type: y mandatory;
      &__item {
        scroll-snap-align: start;
        margin-bottom: 30px;
        .question__title {
          margin-bottom: 10px;
          font-weight: bold;
          font-size: 16px;

          span {
            margin-right: 10px;
          }

          button {
            width: 25px;
            // height: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
          }
        }

        .question__answers {
          width: fit-content;
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding: 10px;
          background-color: rgb(247, 247, 247);
          border: 1px solid rgb(179, 178, 178);
          border-radius: 10px;
          padding-right: 300px;

          li {
            display: flex;
            align-items: center;
            gap: 10px;
            span {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .timeout {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.514);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;

    &__modal {
      width: 450px;
      height: 260px;
      border-radius: 5px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 25px;
        text-align: center;
        padding-top: 25px;
      }
      @keyframes flash {
        0% {
          color: rgb(255, 132, 132);
          transform: scale(0.95);
        }
        50% {
          color: rgb(219, 9, 9);
          transform: scale(1);
        }
        100% {
          color: rgb(255, 132, 132);
          transform: scale(0.95);
        }
      }
      i {
        font-size: 100px;
        color: rgb(255, 132, 132);
        margin-bottom: 20px;
        animation: flash 0.8s infinite;
      }
      button {
        width: 100px;
      }
    }
  }
}
